.text {
  font-family: -apple-system, 'Segoe UI';
  font-weight: 600;
  /* // filter: drop-shadow(0 2px 2px rgba(0,0,0,1)); */
  filter: drop-shadow(0 2px 1px rgba(0,0,0,1));
  background: -webkit-linear-gradient(#F7C730 45%, #fff 65%, #F7C730 25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.halko {
  color: red;
}