
.paper-box {
  
  // padding: 10px;
  
  // border: 8px solid red;
  // border-image: url("../../static/border.png") 8 repeat;
  // overflow: hidden;

  &.paper-box--paper {
    background: #E3DDBF url("../../static/pattern-paper.png");
    color: rgb(85, 81, 65);
  }

  &.paper-box--green {
    background: #E3DDBF url("../../static/pattern-green.png");
    background-size: 35px;
  }

  &.paper-box--red {
    background: #E3DDBF url("../../static/pattern-red.png");
    background-size: 35px;
  }
}

.paper-box__bar {
  font-size: 17px;
  text-align: left;
  // display: block;
  margin: 0;
  // padding: 4px;
  // position: relative;
  // left: -3px;
  // top: -3px;
  // width: 100%;
  background: yellow url("../../static/pattern-wood.png");

  border: 8px solid red;
  border-bottom-width: 0;
  padding: 4px 8px 8px 8px;
  border-image: url("../../static/border.png") 8 repeat;
}

.paper-box__content {
  padding: 10px;
  border: 8px solid red;
  border-image: url("../../static/border.png") 8 repeat;
}