.base-input {
  font-family: 'Segoe UI';
  background: #E9E3CA url("../../static/pattern-paper.png");
  border: 8px solid red;
  border-image: url("../../static/border-simple.png") 8 repeat;
  box-shadow: 0 0 8px 0 rgba(1,1,1,.5);
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0;
}