.base-button {
  // background: #0D3A01 url("../../static/pattern-red.png");
  border-style: none;
  border-radius: 4px;
  color: #F7C730;
  font-family: 'Segoe UI';
  cursor: pointer;
  padding: 0;
  outline: none;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  // font-size: 72px;
  font-weight: 600;

  border: 1px solid transparent;
  border-image: linear-gradient(#EFDBCD,#703B1C);
  border-image-slice: 1;
  border-radius: 4px;

  filter: contrast(105%) brightness(120%);
  

  &:hover {
    filter: contrast(120%);
    // &:before { opacity: 1; }
    .base-button__text {
      filter: drop-shadow(0 2px 1px rgba(0,0,0,1));
    }
  }

  &:before {
    transition: opacity .25s ease;
    opacity: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    // background: radial-gradient(rgba(255, 255, 124, 0.25), transparent 80%);
    background: radial-gradient(rgba(255, 140, 132, 0.25), transparent 80%);
    left: 0;
    top: 0;
  }

  $themes: (
    green: (#0D3A01, rgb(32, 150, 38), rgba(255, 255, 124, 0.25)),
    red: (#6F1903, rgb(255, 101, 101), rgba(255, 140, 132, 0.25))
  );

  @each $color, $colorset in $themes {
    $bg-color: nth($colorset, 1);
    $light: nth($colorset, 2);

    &.#{"base-button--" + $color} {
      background: $bg-color url("../../static/pattern-" + $color + ".png") 35px;
      &:hover {
        box-shadow: inset 0 0 20px 0 $light;
        // @if $color == red { filter: contrast(120%); }
        // @else { filter: contrast(110%); }
        filter: contrast(120%);
      }
    }
  }
}

.base-button__text {
  margin: 1px;
  // box-shadow: inset -1px -1px .5px 0 rgba(0,0,0,.7);
  box-shadow: 1px 1px 0px 0 rgba(0,0,0,.7);

  display: block;
  border: 1px solid rgba(255,255,255,.5);
  border-bottom-color: rgba(255,255,255,.1);
  border-right-color: rgba(255,255,255,.1);

  border-bottom-color: rgba(255,255,255,.1);
  border-right-color: rgba(255,255,255,.1);

  border-bottom-color: rgba(1,1,1,.2);
  border-right-color: rgba(1,1,1,.2);

  border-radius: 4px;
  padding: 4px 10px;
}